#Project
COMPOSE_PROJECT_NAME=cms
UID=501
GID=20

#Database
DB_PASSWORD=secret
DB_DATABASE=cms

#App
TYPESENSE_API_KEY=api123

# Docker watch/polling variables
WATCHPACK_POLLING=false
CHOKIDAR_USEPOLLING=false
VITE_USE_POLLING=false
