# kubectl create secret generic cms-redis \
#   --from-literal=password=CHANGE_ME \
#   --namespace=cms-prod
apiVersion: v1
kind: Secret
metadata:
  name: cms-redis
  namespace: cms-prod
type: Opaque
stringData:
  password: "CHANGE_ME"
