# kubectl create secret generic cms-typesense \
#   --from-literal=api-key=CHANGE_ME \
#   --namespace=cms-prod
apiVersion: v1
kind: Secret
metadata:
  name: cms-typesense
  namespace: cms-prod
type: Opaque
stringData:
  api-key: "CHANGE_ME"
